.Dictionary .container {
  max-width: 600px;
  text-align: center;
}

.Dictionary h1 {
  margin: 30px;
}

.Dictionary h2 {
  margin: 10px 0px 5px;
}

.Dictionary h4 {
  margin: 20px 0px 8px;
}

.Dictionary form {
  display: block;
  margin: 0 auto;
}

.Dictionary .example {
  margin: 10px 0px;
}

.Dictionary .form-control:focus {
  border-color: #cfdac8;
  box-shadow: 0 0 8px #cfdac8;
}

.Dictionary .search-results {
  text-align: left;
}

.Dictionary #search-button {
  background-color: #cfdac8;
  border: 1px solid #7c9473;
  padding: 6px 45px;
}

.Dictionary #search-button:focus {
  border: 1px solid #7c9473;
  box-shadow: 0 0 8px #cfdac8;
}
